/* inter-regular - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #f5f5f5;
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.green-background {
    padding: 0 110px;
    background-color: #edf2ec;
}

.header_wrapper {
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin: 0 21px;
}

.header_item:last-child {
    margin-right: 0;
}
.header_item a {
    color: #010201;
}
.header_item a:hover,
.header_item a.active {
    color: #e06733;
}

.mobile-main {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 22px;
    width: 25px;
    height: 23px;
    border-top: 2px solid #717171;
    border-bottom: 2px solid #717171;
    cursor: pointer;
    display: none;
}

.mobile-main::before,
.mobile-main::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 2px;
    background: #717171;
    top: 5px;
}

.mobile-main::after {
    top: 12px;
}

/* start main styles
section welcome*/

.main_wrapper_welcome {
    display: flex;
    background-color: #edf2ec;
    align-items: center;
    padding: 62px 110px;
}
.main_wrapper_image,
.main_wrapper_text {
    /* flex: 0 0 50%; */
    width: 50%;
}

.welcome_title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.welcome_title span {
    color: #499a18;
}

.main_wrapper_text p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    padding: 42px 0;
}

.main_wrapper_text button {
    border: 2px solid #e06733;
    border-radius: 10px;
    padding: 14px 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: transparent;
}

.main_wrapper_image img {
    width: 100%;
    visibility: hidden;
}

.main_wrapper_text button:hover,
.main_wrapper_text button:active {
    color: white;
    background: #e06733;
}

/*start section about*/

.main_wrapper_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 62px 110px;
    background: white;
}

.main_wrapper_about_text,
.main_wrapper_image {
    /* flex: 0 0 50%; */
    width: 50%;
}

.main_wrapper_image {
    background: url(../img/leafs.png) no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.main_wrapper_about_image {
    text-align: center;
}

.main_wrapper_about_image img {
    height: 100%;
}
.main_wrapper_about .about_title {
    color: #499a18;
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
.main_wrapper_about .about_title span {
    color: #e06733;
}

.main_wrapper_about_text p {
    font-size: 20px;
    line-height: 35px;
    text-align: left;
    padding: 42px 0;
}

/*start section service*/

.main_wrapper_service {
    background-color: #edf2ec;
    align-items: center;
    padding: 62px 110px;
}

.main_service_projects {
    display: flex;
    align-items: center;
    width: auto;
}
.main_service_projects_text {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #499a18;
    flex: 0 1 36%;
}

.main_service_projects_list {
    display: flex;
}

.main_service_projects_list button {
    font-size: 20px;
    color: #e06733;
    border: 1px solid #e06733;
    border-radius: 5px;
    padding: 12px 40px;
    margin-right: 38px;
}

.main_service_projects_list button:hover,
.main_service_projects_list button:active {
    color: white;
    background: #e06733;
}

.main_service_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_service_image_item {
    flex-flow: column;
    flex: 0 0 28%;
    margin-top: 55px;
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.main_service_image_item img {
    width: 100%;
}

.main_service_image a {
    display: inline-block;
    color: #e06733;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 20px;
}

.main_service_image p {
    margin-bottom: 20px;
}

/* start section price*/

.main_wrapper_price {
    background-color: white;
    align-items: center;
    padding: 62px 110px;
}

.main_price_projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.main_price_projects_left_text h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.main_price_projects_right_contacts {
    text-align: right;
}

.main_price_projects_right_contacts h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;

    color: #000000;
    margin-bottom: 20px;
}

.main_price_projects_right_contacts span {
    color: #499a18;
}
.main_price_projects_right_contacts button {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background-color: white;
    color: #e06733;
    border-radius: 5px;
    border: 1px solid #e06733;
    margin: 30px 0;
}
.main_price_projects_right_contacts button:hover,
.mmain_price_projects_right_contacts button:active {
    color: white;
    background: #e06733;
}

.main_price_projects_left_form {
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    padding: 0 40px;
    margin-top: 30px;
}

.prices_item {
    background-color: #edf2ec;
    width: 250px;
    margin: 30px 0;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    border-radius: 10px;
    position: relative;
}
.prices_item img {
    position: absolute;
    right: 40px;
    top: 23px;
    cursor: pointer;
}

.prices-inner {
    border-top: 1px solid #aea1a1;
    margin: 12px 0 0 0;
    font-size: 10px;
    color: #717171;
    font-weight: normal;
}
.prices-inner-description {
    line-height: 10px;
    padding: 8px 0;
}

.prices-inner-rate {
    color: #000;
    font-size: 14px;
}

.prices-inner-rate b {
    color: #e06733;
    font-size: 16px;
    font-weight: bold;
}

.prices-inner-rate b span {
    font-size: 12px;
}

.prices-inner button {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 22px;
    color: #717171;
    border: none;
    font-size: 14px;
    margin-top: 10px;
}

.clickable {
    cursor: pointer;
}

.clickable + .prices-inner {
    display: none;
}

.clickable.showtext + .prices-inner {
    display: block;
}

/*start contacts*/

.main_wrapper_contacts {
    background-color: #edf2ec;
    align-items: center;
    padding: 62px 110px 0px;
}

.main_contacts_projects {
    display: flex;
    justify-content: space-between;
}

.main_wrapper_contacts h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: #499a18;
    text-align: center;
    margin-bottom: -45px;
}
.main_contacts_projects_right {
    width: 450px;
    height: 50px;
    background: #d6e7d2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    position: relative;
    top: 70px;
}

.main_contacts_projects_right_city p {
    color: #717171;
    padding: 20px;
}

.main_contacts_projects_right_city svg {
    position: absolute;
    right: 35px;
    top: 18px;
}

.contact-card {
    margin-top: 60px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 35px;
    text-align: center;
    color: #717171;
    font-size: 16px;
    width: 100%;
    max-width: 450px;
    display: inline-block;
}

.contact-card table {
    width: 100%;
    text-align: left;
}

.contact-card tr td {
    padding: 15px 0;
}
.contact-card tr td:first-child {
    color: #000;
    max-width: 130px;
}

.contact-card button {
    border: 1px solid #e06733;
    border-radius: 5px;
    padding: 10px 50px;
    background: none;
    font-size: 12px;
    margin-top: 30px;
    font-weight: bold;
}

.contact-card button:hover {
    background: #e06733;
    color: #fff;
}

/*footer*/
.footer_wrapper {
    background-color: white;
    align-items: center;
    padding: 30px 110px;
}
.footer_projects {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer_wrapper_left {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.footer_wrapper_left img,
.footer_wrapper_left span,
.footer_wrapper_left a {
    margin-left: 20px;
}
.footer_wrapper_right {
    display: flex;
}

.footer_wrapper_right img {
    margin-left: 20px;
}

.footer_wrapper_center {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

/* mobile styles */

@media (max-width: 1200px) {
    .main_service_projects {
        display: block;
    }
}

@media (max-width: 768px) {
    .green-background {
        padding: 50px;
    }

    .main_wrapper_welcome {
        flex-direction: row-reverse;
        padding: 50px;
    }

    .welcome_title {
        font-size: 35px;
    }

    .main_wrapper_text p {
        font-size: 16px;
        line-height: 25px;
    }

    .main_wrapper_about {
        flex-direction: column;
        padding: 50px;
    }

    .main_wrapper_about .about_title {
        text-align: center;
        font-size: 35px;
        line-height: 45px;
    }

    .main_wrapper_about_text,
    .main_wrapper_image {
        width: 100%;
    }

    .main_wrapper_service {
        padding: 50px;
    }

    .main_wrapper_about_image img {
        height: auto;
        width: 55%;
    }

    .main_service_projects_text {
        margin-bottom: 40px;
    }

    .main_service_image_item {
        flex: 0 0 45%;
    }

    .main_service_image p {
        font-size: 18px;
        line-height: 25px;
    }
    /*prices*/

    .main_price_projects_right_contacts h2 {
        font-size: 25px;
        line-height: 35px;
        margin-top: 55px;
        margin-bottom: 10px;
    }

    .main_wrapper_price {
        padding: 50px;
    }
    /* contacts*/

    .main_wrapper_contacts {
        padding: 50px;
    }

    .main_contacts_projects {
        flex-direction: column-reverse;
        text-align: center;
    }

    .main_wrapper_contacts h2 {
        margin-bottom: 0;
    }

    .main_contacts_projects_right {
        margin: 0 auto;
    }

    .main_contacts_projects_left img {
        width: 30%;
        margin-bottom: -50px;
        margin-top: 300px;
    }

    /*footer*/
    .footer_wrapper {
        text-align: center;
    }

    .footer_projects {
        flex-direction: column;
        align-items: center;
    }

    .footer_wrapper_center {
        margin-bottom: 20px;
    }
}
/*width 380px*/

/*welcome*/

@media (max-width: 380px) {
    .green-background {
        padding: 25px;
    }

    .header_logo {
        position: relative;
        z-index: 5;
    }
    .mobile-main {
        display: block;
        z-index: 5;
    }

    .header_list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #d5e7d3;
        z-index: 4;
        padding: 55px 0 30px 0;
        display: none;
    }

    .header_list.showmenu {
        display: block;
    }

    .header_list li {
        margin: 0;
    }
    .header_list a {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    .mobile-main.close-icon {
        border: none;
    }

    .mobile-main.close-icon::before {
        transform: rotate(45deg);
        top: 12px;
    }
    .mobile-main.close-icon::after {
        transform: rotate(-45deg);
    }

    .main_wrapper_welcome {
        padding: 25px;
    }

    .welcome_title {
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
    }
    .main_wrapper_image {
        display: none;
    }

    .main_wrapper_text {
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        width: 100%;
    }

    .main_wrapper_text p {
        padding: 30px 0px;
    }

    /*about*/

    .main_wrapper_about {
        flex-flow: row wrap;
        padding: 25px;
    }

    .about_title {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
    }

    .main_wrapper_about_text p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        padding: 30px 0;
    }

    /*service*/

    .main_wrapper_service {
        flex-flow: row wrap;
        padding: 25px;
    }

    .main_service_projects_text {
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
    }

    .main_service_projects_list {
        flex-flow: row wrap;
        padding: 0;

        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #e06733;
    }

    .main_service_projects_list button {
        margin: 0 10px 10px 0;
    }

    .main_wrapper_service {
        flex-flow: row wrap;
        padding: 25px;
    }

    .main_service_image_item {
        margin: 25px;
        flex: content;
    }

    .main_service_image_item p {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
    }

    /*prices*/
    .main_price_projects {
        display: block;
    }

    .main_wrapper_price {
        flex-flow: row wrap;
        padding: 25px 60px;
    }

    .main_price_projects_left_form {
        margin: 30px auto;
        padding: 20px;
    }

    .main_price_projects_left_text h3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

    .prices_item {
        width: auto;
        margin: 15px 0;
        padding: 16px;
    }

    .prices_item h4 {
        font-size: 15px;
    }

    .main_price_projects_right_contacts img {
        display: none;
    }
    .main_price_projects_right_contacts {
        text-align: center;
    }
    .main_price_projects_right_contacts h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin-top: 30px;
    }

    .prices_item img {
        top: 18px;
    }

    /*contacts*/
    .main_wrapper_contacts {
        flex-flow: row wrap;
        padding: 25px;
    }
    .main_wrapper_contacts h2 {
        font-family: "Inika";
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        color: #499a18;
    }

    .main_contacts_projects_left img {
        width: 40%;
        margin-bottom: -25px;
        margin-top: 160px;
    }

    .main_contacts_projects_right {
        width: 100%;
    }

    /*footer*/
    .footer_wrapper {
        background-color: white;
        align-items: center;
        padding: 30px 30px;
    }
}
